In [258]:
from nltk import book
import nltk
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from keras.utils import to_categorical
from keras.callbacks import EarlyStopping
from keras.preprocessing.sequence import pad_sequences
books = nltk.corpus.gutenberg.fileids()
import numpy as np

In [171]:
books

['austen-emma.txt',
 'austen-persuasion.txt',
 'austen-sense.txt',
 'bible-kjv.txt',
 'blake-poems.txt',
 'bryant-stories.txt',
 'burgess-busterbrown.txt',
 'carroll-alice.txt',
 'chesterton-ball.txt',
 'chesterton-brown.txt',
 'chesterton-thursday.txt',
 'edgeworth-parents.txt',
 'melville-moby_dick.txt',
 'milton-paradise.txt',
 'shakespeare-caesar.txt',
 'shakespeare-hamlet.txt',
 'shakespeare-macbeth.txt',
 'whitman-leaves.txt']

In [172]:
text = []
for i in range(len(books)):
    text.append(nltk.corpus.gutenberg.words(books[i]))

In [173]:
text

[['[', 'Emma', 'by', 'Jane', 'Austen', '1816', ']', ...],
 ['[', 'Persuasion', 'by', 'Jane', 'Austen', '1818', ...],
 ['[', 'Sense', 'and', 'Sensibility', 'by', 'Jane', ...],
 ['[', 'The', 'King', 'James', 'Bible', ']', 'The', ...],
 ['[', 'Poems', 'by', 'William', 'Blake', '1789', ']', ...],
 ['[', 'Stories', 'to', 'Tell', 'to', 'Children', 'by', ...],
 ['[', 'The', 'Adventures', 'of', 'Buster', 'Bear', ...],
 ['[', 'Alice', "'", 's', 'Adventures', 'in', ...],
 ['[', 'The', 'Ball', 'and', 'The', 'Cross', 'by', 'G', ...],
 ['[', 'The', 'Wisdom', 'of', 'Father', 'Brown', 'by', ...],
 ['[', 'The', 'Man', 'Who', 'Was', 'Thursday', 'by', ...],
 ['[', 'The', 'Parent', "'", 's', 'Assistant', ',', ...],
 ['[', 'Moby', 'Dick', 'by', 'Herman', 'Melville', ...],
 ['[', 'Paradise', 'Lost', 'by', 'John', 'Milton', ...],
 ['[', 'The', 'Tragedie', 'of', 'Julius', 'Caesar', ...],
 ['[', 'The', 'Tragedie', 'of', 'Hamlet', 'by', ...],
 ['[', 'The', 'Tragedie', 'of', 'Macbeth', 'by', ...],
 ['[', 'Leaves', 'of', 'Grass', 'by', 'Walt', 'Whitman', ...]]

In [174]:
for i in range(len(text)):
    text[i] = ' '.join(text[i])

In [175]:
len(text[0])

915041

In [176]:
import string
def text_process(mess):
    lst = [x for x in mess if x not in string.punctuation+ '0123456789']
    mess = ''.join(lst)
    return(mess)

In [177]:
for i in range(18):
    text[i] = text_process(text[i])

In [178]:
len(text[0])

876753

In [179]:
def list_convertor(mess):
    return(mess.split())
print(list_convertor('hello i am parth'))

['hello', 'i', 'am', 'parth']

In [180]:
for i in range(18):
    text[i] = list_convertor(text[i])

In [183]:
text[0] = text[0][:161800]
text[1] = text[1][:84000]
text[2] = text[2][:120400]
text[3] = text[3][:791800]
text[4] = text[4][:6800]
text[5] = text[5][:46400]
text[6] = text[6][:16000]
text[7] = text[7][:27000]
text[8] = text[8][:82400]
text[9] = text[9][:73000]
text[10] = text[10][:58400]
text[11] = text[11][:170400]
text[12] = text[12][:218000]
text[13] = text[13][:80400]
text[14] =text[14][:20800]
text[15] = text[15][:30000]
text[16] = text[16][:18000]
text[17] = text[17][:126000]

In [205]:
for i in range(18):
    print(len(text[i]))

161800
84000
120400
791800
6800
46400
16000
27000
82400
73000
58400
170400
218000
80400
20800
30000
18000
126000

len

In [206]:
# Test Method
def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

In [219]:
for i in range(18):
    text[i] =  (list(chunks(text[i],400)))

In [221]:
import pandas as pd
pd.DataFrame(text[1]).head()

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,Persuasion,by,Jane,Austen,Chapter,Sir,Walter,Elliot,of,Kellynch,...,he,did,nor,could,the,valet,of,any,new,made
1,lord,be,more,delighted,with,the,place,he,held,in,...,himself,on,remaining,single,for,his,dear,daughters,sake,For
2,one,daughter,his,eldest,he,would,really,have,given,up,...,good,looks,of,everybody,else,for,he,could,plainly,see
3,how,old,all,the,rest,of,his,family,and,acquaintance,...,marry,him,and,her,father,had,always,meant,that,she
4,should,He,had,not,been,known,to,them,as,a,...,him,to,be,worth,thinking,of,again,The,disgrace,of

In [224]:
train = text[0] + text[1] + text[2] + text[3] + text[4] + text[5] + text[6] + text[7] + text[8] + text[9] + text[10] + text[11] + text[12] + text[13] + text[14] + text[15] + text[16] + text[17]

In [232]:
labels = []
for i in range(18):
    labels = labels + ([i]*len(text[i]))

In [233]:
len(labels)

5331

In [229]:
len(train)

5331

In [238]:
tok = Tokenizer(num_words=200000)
tok.fit_on_texts(train)
train_sequences = tok.texts_to_sequences(train)

In [249]:
def RNN():
    inputs = Input(name='inputs',shape=[400])
    layer = Embedding(200000,50,input_length=400)(inputs)
    layer = LSTM(64)(layer)
    layer = Dense(209,name='FC1',activation = 'relu')(layer)
    layer = Dropout(0.2)(layer)
    layer = Dense(209,name='FC2',activation = 'relu')(layer)
    layer = Dropout(0.2)(layer)
    layer = Dense(1,name='out_layer',activation = 'sigmoid')(layer)
    model = Model(inputs=inputs,outputs=layer)
    return model

In [250]:
model = RNN()
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
inputs (InputLayer)          (None, 400)               0
_________________________________________________________________
embedding_3 (Embedding)      (None, 400, 50)           10000000
_________________________________________________________________
lstm_3 (LSTM)                (None, 64)                29440
_________________________________________________________________
FC1 (Dense)                  (None, 209)               13585
_________________________________________________________________
dropout_5 (Dropout)          (None, 209)               0
_________________________________________________________________
FC2 (Dense)                  (None, 209)               43890
_________________________________________________________________
dropout_6 (Dropout)          (None, 209)               0
_________________________________________________________________
out_layer (Dense)            (None, 1)                 210
=================================================================
Total params: 10,087,125
Trainable params: 10,087,125
Non-trainable params: 0
_________________________________________________________________

In [251]:
model.compile(loss='categorical_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

In [259]:

labels = np.array(labels)

train

In [260]:
train_sequences = np.array(train_sequences)

In [261]:
labels

array([ 0,  0,  0, ..., 17, 17, 17])