In [2]:
from nltk import book
import nltk
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from keras.utils import to_categorical
from keras.callbacks import EarlyStopping
from keras.preprocessing.sequence import pad_sequences
import numpy as np
books = nltk.corpus.gutenberg.fileids()

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

Using TensorFlow backend.

In [3]:
books

['austen-emma.txt',
 'austen-persuasion.txt',
 'austen-sense.txt',
 'bible-kjv.txt',
 'blake-poems.txt',
 'bryant-stories.txt',
 'burgess-busterbrown.txt',
 'carroll-alice.txt',
 'chesterton-ball.txt',
 'chesterton-brown.txt',
 'chesterton-thursday.txt',
 'edgeworth-parents.txt',
 'melville-moby_dick.txt',
 'milton-paradise.txt',
 'shakespeare-caesar.txt',
 'shakespeare-hamlet.txt',
 'shakespeare-macbeth.txt',
 'whitman-leaves.txt']

In [4]:
text = []
for i in range(len(books)):
    text.append(nltk.corpus.gutenberg.words(books[i]))

In [5]:
text

[['[', 'Emma', 'by', 'Jane', 'Austen', '1816', ']', ...],
 ['[', 'Persuasion', 'by', 'Jane', 'Austen', '1818', ...],
 ['[', 'Sense', 'and', 'Sensibility', 'by', 'Jane', ...],
 ['[', 'The', 'King', 'James', 'Bible', ']', 'The', ...],
 ['[', 'Poems', 'by', 'William', 'Blake', '1789', ']', ...],
 ['[', 'Stories', 'to', 'Tell', 'to', 'Children', 'by', ...],
 ['[', 'The', 'Adventures', 'of', 'Buster', 'Bear', ...],
 ['[', 'Alice', "'", 's', 'Adventures', 'in', ...],
 ['[', 'The', 'Ball', 'and', 'The', 'Cross', 'by', 'G', ...],
 ['[', 'The', 'Wisdom', 'of', 'Father', 'Brown', 'by', ...],
 ['[', 'The', 'Man', 'Who', 'Was', 'Thursday', 'by', ...],
 ['[', 'The', 'Parent', "'", 's', 'Assistant', ',', ...],
 ['[', 'Moby', 'Dick', 'by', 'Herman', 'Melville', ...],
 ['[', 'Paradise', 'Lost', 'by', 'John', 'Milton', ...],
 ['[', 'The', 'Tragedie', 'of', 'Julius', 'Caesar', ...],
 ['[', 'The', 'Tragedie', 'of', 'Hamlet', 'by', ...],
 ['[', 'The', 'Tragedie', 'of', 'Macbeth', 'by', ...],
 ['[', 'Leaves', 'of', 'Grass', 'by', 'Walt', 'Whitman', ...]]

In [6]:
for i in range(len(text)):
    text[i] = ' '.join(text[i])

In [8]:
len(text[0])

915041

In [9]:
import string
def text_process(mess):
    lst = [x for x in mess if x not in string.punctuation+ '0123456789']
    mess = ''.join(lst)
    return(mess)

In [10]:
for i in range(18):
    text[i] = text_process(text[i])

In [11]:
len(text[0])

876753

In [12]:
def list_convertor(mess):
    return(mess.split())
print(list_convertor('hello i am parth'))

['hello', 'i', 'am', 'parth']

In [13]:
for i in range(18):
    text[i] = list_convertor(text[i])

In [14]:
text[0] = text[0][:161800]
text[1] = text[1][:84000]
text[2] = text[2][:120400]
text[3] = text[3][:791800]
text[4] = text[4][:6800]
text[5] = text[5][:46400]
text[6] = text[6][:16000]
text[7] = text[7][:27000]
text[8] = text[8][:82400]
text[9] = text[9][:73000]
text[10] = text[10][:58400]
text[11] = text[11][:170400]
text[12] = text[12][:218000]
text[13] = text[13][:80400]
text[14] =text[14][:20800]
text[15] = text[15][:30000]
text[16] = text[16][:18000]
text[17] = text[17][:126000]

In [15]:
for i in range(18):
    print(len(text[i]))

161800
84000
120400
791800
6800
46400
16000
27000
82400
73000
58400
170400
218000
80400
20800
30000
18000
126000

len

In [16]:
# Test Method
def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

In [17]:
for i in range(18):
    text[i] =  (list(chunks(text[i],400)))

In [16]:
import pandas as pd
pd.DataFrame(text[1]).head()

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,Persuasion,by,Jane,Austen,Chapter,Sir,Walter,Elliot,of,Kellynch,...,he,did,nor,could,the,valet,of,any,new,made
1,lord,be,more,delighted,with,the,place,he,held,in,...,himself,on,remaining,single,for,his,dear,daughters,sake,For
2,one,daughter,his,eldest,he,would,really,have,given,up,...,good,looks,of,everybody,else,for,he,could,plainly,see
3,how,old,all,the,rest,of,his,family,and,acquaintance,...,marry,him,and,her,father,had,always,meant,that,she
4,should,He,had,not,been,known,to,them,as,a,...,him,to,be,worth,thinking,of,again,The,disgrace,of

In [17]:
train = text[0] + text[1] + text[2] + text[3] + text[4] + text[5] + text[6] + text[7] + text[8] + text[9] + text[10] + text[11] + text[12] + text[13] + text[14] + text[15] + text[16] + text[17]

In [46]:
labels = []
for i in range(18):
    labels = labels + ([i]*len(text[i]))

In [47]:
len(labels)

5331

In [20]:
len(train)

5331

In [55]:
tok = Tokenizer(num_words=200000)
tok.fit_on_texts(train)
train_sequences = tok.texts_to_sequences(train)

In [50]:
max_len = 420
def RNN():
    inputs = Input(name='inputs',shape=[max_len])
    layer = Embedding(max_words,50,input_length=max_len)(inputs)
    layer = LSTM(64)(layer)
    layer = Dense(256,name='FC1',activation = 'relu')(layer)
    layer = Dropout(0.5)(layer)
    layer = Dense(1,name='out_layer',activation = 'sigmoid')(layer)
    model = Model(inputs=inputs,outputs=layer)
    return model

In [51]:
model = RNN()
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
inputs (InputLayer)          (None, 420)               0
_________________________________________________________________
embedding_2 (Embedding)      (None, 420, 50)           10000000
_________________________________________________________________
lstm_2 (LSTM)                (None, 64)                29440
_________________________________________________________________
FC1 (Dense)                  (None, 256)               16640
_________________________________________________________________
dropout_3 (Dropout)          (None, 256)               0
_________________________________________________________________
out_layer (Dense)            (None, 1)                 257
=================================================================
Total params: 10,046,337
Trainable params: 10,046,337
Non-trainable params: 0
_________________________________________________________________

In [54]:
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

In [48]:
labels = np.array(labels)

train

In [61]:
train_sequences = np.array(train_sequences)

In [27]:
labels

array([ 0,  0,  0, ..., 17, 17, 17])

In [63]:
for i in range(len(train_sequences)):
    train_sequences[i] = np.array(train_sequences[i])

In [46]:
train_sequences[0].shape

(400,)

(400,)

In [67]:
pd.DataFrame(train_sequences)

                                                      0
0     [274, 41, 649, 17547, 4393, 7, 566, 7, 274, 62...
1     [13, 5, 55, 3, 10807, 897, 1119, 1084, 7706, 8...
2     [168, 5, 153, 8898, 2, 6112, 430, 123, 18, 770...
3     [25, 134, 20, 147, 16, 1, 1564, 3, 5, 88, 3, 2...
4     [7710, 41, 52, 7060, 20, 25, 134, 1, 17552, 51...
5     [16, 53, 17, 29, 6, 60, 176, 7, 85, 2, 53, 17,...
6     [1604, 4, 25, 4, 18, 1759, 3, 5, 1665, 5716, 2...
7     [37, 1243, 5, 1205, 3935, 12, 5, 219, 305, 30,...
8     [521, 2, 37, 16, 1, 117, 144, 7, 29, 3, 731, 2...
9     [3, 314, 34, 27, 15, 1, 376, 34, 27, 1992, 291...
10    [6119, 20, 19, 10, 13, 15, 1, 20798, 1778, 3, ...
11    [2069, 3741, 1970, 14, 146, 2, 212, 1244, 50, ...
12    [4, 1208, 266, 212, 2960, 49, 22, 240, 25, 33,...
13    [911, 552, 8, 1954, 11, 2512, 3, 777, 871, 2, ...
14    [2, 5, 252, 182, 52, 51, 1425, 171, 89, 44, 10...
15    [91, 25, 125, 214, 1665, 2, 73, 128, 720, 14, ...
16    [27, 188, 2218, 155, 73, 89, 375, 3, 96, 123, ...
17    [40, 51, 3, 93, 4976, 63, 7379, 8048, 73, 1209...
18    [2, 117, 5263, 4, 18, 4733, 41, 79, 51, 34, 24...
19    [20810, 2884, 5, 73, 666, 84, 20810, 2884, 272...
20    [165, 34, 13, 261, 1617, 9, 1036, 9, 72, 131, ...
21    [704, 333, 3, 26, 476, 2, 16, 165, 6, 51, 636,...
22    [52, 548, 3, 60, 162, 5, 604, 30, 383, 2, 17, ...
23    [11, 1101, 13, 73, 3351, 2, 9, 248, 76, 5, 182...
24    [86, 261, 17, 123, 29, 78, 839, 41, 11, 5115, ...
25    [52, 71, 12, 99, 106, 25, 388, 705, 13, 6, 51,...
26    [2, 274, 2698, 5, 73, 2053, 3531, 12, 155, 1, ...
27    [398, 428, 8, 17, 65, 15, 85, 1, 1836, 3, 5, 1...
28    [1, 117, 490, 507, 4, 12606, 14, 25, 34, 26476...
29    [1, 120, 614, 34, 3475, 4, 34, 44, 1098, 188, ...
...                                                 ...
5301  [35, 93, 2, 1, 41238, 3, 2101, 2, 1, 3873, 134...
5302  [1, 26431, 2, 3, 1, 2141, 3, 1236, 2, 3, 21, 8...
5303  [591, 7047, 1, 2267, 3, 2449, 6, 21, 5113, 118...
5304  [11363, 109, 50, 410, 50, 673, 1493, 50, 118, ...
5305  [6829, 6214, 2, 17, 5161, 8, 2955, 394, 3570, ...
5306  [59, 177, 1148, 6, 103, 170, 6, 1, 12581, 5492...
5307  [136, 4, 2753, 2, 15251, 30, 4330, 1724, 20, 6...
5308  [1, 196, 260, 71, 13582, 1, 138, 584, 260, 71,...
5309  [109, 2, 13569, 51, 217, 56, 4489, 1299, 17533...
5310  [41286, 14651, 13864, 114, 20657, 6, 26, 15417...
5311  [3, 1279, 5, 4141, 3, 186, 4, 2024, 3, 23, 4, ...
5312  [12458, 3, 21, 53, 3927, 17412, 2, 10238, 6, 1...
5313  [1216, 66, 17225, 1299, 8447, 61, 189, 3, 21, ...
5314  [30, 3446, 109, 2, 20410, 6, 160, 8855, 41, 12...
5315  [137, 50, 81, 50, 195, 169, 5692, 410, 928, 12...
5316  [92, 557, 1677, 41, 1, 691, 2109, 689, 272, 16...
5317  [5, 6101, 16744, 14, 2952, 2, 751, 497, 7, 91,...
5318  [97, 94, 412, 12155, 138, 12446, 15454, 3265, ...
5319  [1209, 1690, 4529, 38, 504, 4, 220, 264, 31, 6...
5320  [2, 3171, 4, 3472, 1, 663, 3, 668, 4, 1, 19853...
5321  [42, 134, 2501, 398, 18886, 67, 152, 42, 4204,...
5322  [1265, 50, 1464, 1464, 4955, 50, 4, 1, 5054, 1...
5323  [2, 12472, 7635, 211, 133, 84, 297, 4110, 109,...
5324  [2989, 104, 5, 153, 1294, 21097, 1458, 50, 381...
5325  [90, 967, 863, 429, 2, 1817, 6, 90, 1884, 2, 1...
5326  [12, 47, 329, 2160, 6486, 173, 3, 21, 357, 4, ...
5327  [63, 138, 55, 30, 26445, 832, 183, 1, 309, 157...
5328  [119, 4, 288, 2, 21, 3706, 6503, 615, 4, 1, 17...
5329  [2101, 7272, 7980, 29, 547, 26, 8586, 3, 60, 6...
5330  [2, 26, 1742, 48, 75, 220, 17, 1, 76, 59, 29, ...

[5331 rows x 1 columns]

In [24]:
for j in range(18): 
    for i in range(len(text[j])):
        text[j][i] = ' '.join(text[j][i])

In [27]:
len(text[0][0])

2190

In [28]:
type(text)

list

In [29]:
my_train = text[0]+text[1]+text[2]+text[3]+text[4]+text[5]+text[6]+text[7]+text[8]+text[9]+text[10]+text[11]+text[12]+text[13]+text[14]+text[15]+text[16]+text[17]

In [30]:
len(my_train)

5331

In [34]:
from pandas import Series
my_Seriese = Series(my_train)

In [36]:
my_Seriese

0       Emma by Jane Austen VOLUME I CHAPTER I Emma Wo...
1       was a man of unexceptionable character easy fo...
2       many a long October and November evening must ...
3       her own But where is the advantage of a house ...
4       attacked by no regrets but her own The backgam...
5       is what you have in your head I know and what ...
6       important to her to be secure of a comfortable...
7       this marriage A worthy employment for a young ...
8       Elton and this is the only way I have of doing...
9       of spirit she had not the best She had resolut...
10      schemes but as it was not the tyrannic influen...
11      Perry drank tea with Mrs and Miss Bates or whe...
12      to pity poor Miss Taylor when they left her at...
13      families beyond that circle his horror of late...
14      and a woman whom no one named without good wil...
15      see her father look comfortable and very much ...
16      had just parted though very good sort of peopl...
17      on one of these eggs An egg boiled very soft i...
18      and only desiring to be guided by any one she ...
19      Welch cow a very pretty little Welch cow indee...
20      therefore she was sure whenever he married he ...
21      need none of my help and is therefore in one s...
22      no doubt of your being a gentleman s daughter ...
23      His appearance was very neat and he looked lik...
24      am sure you must have been struck by his awkwa...
25      no more for some time Her next beginning was I...
26      and Emma imagined a very sufficient income for...
27      live alone that you do not know the value of a...
28      the only person able to cope with her She inhe...
29      the other places she belongs to She will grow ...
                              ...
5301    from these and the marts of wealth and the cro...
5302    the Democracies and of the fruits of society a...
5303    spirits Illustrious the mystery of motion in a...
5304    roam d Or cities or silent woods or even amid ...
5305    local spots and you airs that swim above light...
5306    we too camp in our place in the bivouac camps ...
5307    again to port and hawser s tie returning But n...
5308    the days once more Peal the old cry once more ...
5309    d and basking One side thy inland ocean laving...
5310    constipation whimpering ennui May filter in my...
5311    of prayer a pulse of thought To memory of Him ...
5312    aggregate of all What subtle indirection and s...
5313    yours ye multitudinous ocean VIII Then Last Of...
5314    s chain d and chafing in those breakers By len...
5315    land or day or night Through teeming cities st...
5316    great arm chair by the window seated Sometimes...
5317    a limitless ravine with plains and mountains d...
5318    us go True Conquerors Old farmers travelers wo...
5319    soft falling shower Which strange to tell gave...
5320    and scenes to forming the line of battle To th...
5321    their own soil live sprouting Now here their s...
5322    Adam Or Beat Beat Drums or To the Leaven d Soi...
5323    and jib steer forth O little white hull d sloo...
5324    soldier after a long hot wearying march or hap...
5325    every object mountain tree and star in every b...
5326    For thou art spiritual Godly most of all known...
5327    An old man s garrulous lips among the rest Thi...
5328    hand to each and all Sank faintly low to the f...
5329    wealth inventions civilization Have lost my re...
5330    And my mate there could tell you the like we h...
Length: 5331, dtype: object

In [37]:
type(my_Seriese)

pandas.core.series.Series

In [38]:
max_words = 200000
max_len = 420
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(my_Seriese)
sequences = tok.texts_to_sequences(my_Seriese)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

In [ ]:
model.fit(sequences_matrix,labels,batch_size=128,epochs=10,
          validation_split=0.2,callbacks=[EarlyStopping(monitor='val_loss',min_delta=0.0001)])

In [57]:
x = pd.DataFrame(labels)

In [60]:
dfDummies = pd.get_dummies(x, prefix = 'bookindex')

In [61]:
dfDummies

       0
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
...   ..
5301  17
5302  17
5303  17
5304  17
5305  17
5306  17
5307  17
5308  17
5309  17
5310  17
5311  17
5312  17
5313  17
5314  17
5315  17
5316  17
5317  17
5318  17
5319  17
5320  17
5321  17
5322  17
5323  17
5324  17
5325  17
5326  17
5327  17
5328  17
5329  17
5330  17

[5331 rows x 1 columns]